* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.scale-button {
  transform: scale(1);
}

.scale-button:active {
  transform: scale(0.8);
  transition: all .8s ease-in-out;
}